/* Início do CSS voltado para Mobile First */

.Wrapper__CardComment {
    display: flex;
    width: 16em;
    flex-direction: column;
    background-color: #fbfbfb;
    border-radius: 0.4em;
    border: 0.08em solid #e1e1e1;
    margin: 0.2em;
    padding: 0.2em;
    align-content: center;
    justify-content: left;
}

.Footer__CardComment {
    display: flex;
    width:100%;
    height:1.6em;
}

.Wrapper__Votes__CardComment {
    display: flex;
    flex-wrap: nowrap;
    width: 4em;
    background-color: #fbfbfb;
    border-radius: 0.4em;
    border: 0.08em solid #e1e1e1;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    object-fit: cover;
}

.Button__CardComment {
    display: flex;     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
.Button__CardComment:hover {
    opacity: 20%;
}

.H5__CardComment {
    color: #cacaca;
}
