.smallcard-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
}

.smallcard-container > img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container h4 {
    margin-bottom: 15px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: row;
    gap: 4px;
    /* align-items: center; */
    justify-items: flex-start;
}